.bg-custom-2 {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 0px;
}

.title {
    color: #7abcff;
    font-size: 1.6rem;
    font-weight: 900;
}

.links h1{
    color: #ffb515;
    font-size: 1.1rem;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.title img {
    width: 200px;
    overflow: visible;
    margin-left: 20px;
}

.navbar {
    padding: 0.2rem 1rem;
}

@media (max-width: 600px) {
    .title img {
        width: 80px;
        margin-left: 0;
        margin-top: 0px;
    }
}

@media (min-width: 600px) and (max-height: 980px)  {
    .title img {
        width: 120px;
        margin-left: 0;
        margin-top: 0px;
    }
}

@media (min-width: 600px)   {
    .title img {
        width: 120px;
        margin-left: 0;
        margin-top: 0px;
    }
}

