body {
  font-family: 'Gotham A', 'Gotham B';
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './typo/Gotham.css';

.App {
  color: black;
  font-family: 'Gotham A', 'Gotham B';
  text-align: center;
}

html{
  scroll-behavior:smooth;
}

/** animations*/
.fadeIn {
  background-color:black;
  opacity: 0;
  animation: fadeIn 3s ease forwards ;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    left:-100;
  }
  to {
    opacity: 1;
    left:100;
  }
}


/** reset */
p h1 h2 h3 h4 h5 h6 body{
  margin:0;
  padding:0;
}